.c--transition-a {
    @extend .u--display-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1500;
    pointer-events: none;
    &__item {
        transform: translateY(100%);
        width: 20%;
        height: 100%;
        @extend .f--background-c;
    }
}
