.c--card-b {
    @extend .u--display-flex;
    position: relative;
    height: 328px;
    width: 328px;

    &__hd {
        @extend .u--display-flex;
        @extend .f--background-b;
        padding: $measure*5;
        width: 100%;
        position: relative;
        display: block;
        height: 100%;
        align-content: center;
        z-index: 1;

        &__list-group {

            @extend .u--display-flex;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: $measure*2;

            gap: $measure;

            &__item {
                padding: 0 $measure*.5;
                background: rgba(247, 247, 247, 0.10);
                @extend .f--color-c;
                @extend .f--font-e;
            }
        }

        &__media-wrapper {

            width: 100%;
            position: relative;
            display: flex;

            justify-content: center;
            align-items: center;

            &__media {
                object-fit: contain;
                display: block;
            }
        }

        &__wrapper {

            position: absolute;
            bottom: 2rem;

            right: 0;
            left: 0;
            text-align: center;

            &__btn {
                @extend .f--background-c;
                @extend .f--font-e;
                padding: $measure*.5 $measure*1.5;
                border-radius: 30px;

            }
        }
    }

    &__bd {
        position: absolute;
        opacity: 0;
        top: 0;
        @extend .f--background-c;
        padding: $measure*5;
        height: 100%;
        @extend .f--font-f;
        z-index: 0;
        transition: all .3s ease-out;


        @extend .u--display-flex;
        flex-direction: column;
        justify-content: center;

        &__content {
            @extend .f--font-f;
            margin-bottom: $measure*2;
        }

        &__link {
            @extend .f--font-e;
        }

        &__btn {
            @media (pointer: fine) {
                display: none;
            }

            @extend .f--font-e;
            @extend .f--color-c;
            width: 30px;
            height: 30px;
            line-height: 16px;
            border-radius: 30px;
            position: absolute;
            top: $measure;
            right: $measure;
        }
    }


    &--is-active & {
        &__bd {
            opacity: 1;
            z-index: 1;
        }
    }
}

.c--card-b__hd__list-group__item--second {
    color: map-get($color-options, a);
}