.c--card-c {
    @extend .u--display-flex;
    flex-direction: column;
    gap: $measure*2;

    &__bd {
        position: relative;
        @extend .f--background-b;
        @extend .f--color-a;
        @extend .u--display-flex;
        padding: $measure*10 $measure*30 $measure*15 $measure*10;
        align-items: flex-end;
        gap: $measure;
        align-self: stretch;

        @media all and ($viewport-type: $tabletm) {

            padding: $measure*5 $measure*5 $measure*15;
        }

        &__content {
            @extend .c--content-a;
            @extend .c--content-a--second;
            color: map-get($color-options, a);
        }

        &__bg-items {
            position: absolute;
            bottom: 0;
            right: -2px;
            width: 158px;

            @media all and ($viewport-type: $tabletm) {

                width: 75px;
            }

            &__media {
                @extend .f--background-a;
                padding: $measure*4 2px 0 $measure*4;
                display: block;

                @media all and ($viewport-type: $tabletm) {

                    padding: $measure*2 0 0 $measure*2;
                }

            }
        }
    }

    &__ft {
        @extend .u--display-flex;
        gap: $measure*2;

        &__media-wrapper {
            background: map-get($color-options, d);
            width: 120px;
            height: 120px;
            overflow: hidden;
            @media all and ($viewport-type: $tabletm) {
                width: 77px;
                height: 77px;
            }
            &__media {
                display: block;
                object-fit: contain;
                width: 100%;
            }
        }

        &__wrapper {
            @extend .f--background-c;
            @extend .u--display-flex;
            padding: $measure*2 $measure*3;
            flex-direction: column;
            justify-content: center;
            min-width: 40%;

            &__title{
                @extend .f--font-d;
                font-weight: 500;
                margin-bottom: $measure / 2;
            }

            &__subtitle{
                @extend .f--font-f;
            }

            @media all and ($viewport-type: $tabletm) {
                padding: $measure $measure*1.5;
                flex-grow: 1;
            }

        }
    }
}