.c--card-a {
    min-height: 335px;
    @extend .u--display-flex;
    gap: $measure*4;

    @media all and ($viewport-type: $tablets) {
        flex-direction: column;
        gap: $measure*2;
    }

    &__hd {
        flex: 0 0 237px;

        &__wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            height: 100%;
            @media all and ($viewport-type: $tablets) {
                height: 240px;
                width: 160px;
            }

            &__media {
                display: block;
                height: 100%;
                object-fit: cover;
                object-position: top;
                width: 100%;
            }
        }
    }

    &__bd {
        flex: 1;
        padding: $measure $measure*3 $measure 0;

        @media all and ($viewport-type: $mobile) {
            padding: 0;
        }

        &__title {
            @extend .f--font-c;
            font-weight: 500;
            margin-bottom: $measure*.5;
        }

        &__subtitle {
            @extend .f--font-f;
            font-weight: 400;
            margin-bottom: $measure*2;

        }
        &__wrapper {
            display: inline-block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: $measure*3;
            margin-bottom: $measure*3;
            width: 100%;

            &__link {
                height: 32px;
                width: 32px;
                border-radius: 7px;
                background-color: map-get($color-options, b);
                display: grid;
                place-content: center;

                &__badge {
                    width: 20px;
                    height: 20px;
                    fill: map-get($color-options, d);
                    transition: fill $time-b $ease-standard-a;
                }

                &:hover svg {
                    fill: map-get($color-options, c);
                }

            }

        }

        &__content {
            @extend .f--font-f;

        }

    }
}