.c--hero-b {
    @extend .f--background-c;
    padding-top: $measure * 15;

    &__hd {
        @extend .f--container;
        
        &__wrapper {
            @extend .u--display-flex;
            flex-direction: column;
            gap: $measure * 4;

            &__icon {
                width: 42px;
                height: 32px;
            }


            &__title {
                max-width: 780px;
                @extend .f--font-a;
            }

            &__subtitle {
                max-width: 560px;
                @extend .f--font-d;
                @extend .u--font-medium;
            }

            &__link {
                @extend .g--btn-01;
                width: fit-content;
            }
        }
    }

    &__bd {
        display: grid;
        grid-template-columns: 1fr;

        &__media {
            width: 100%;
            height: auto;
            object-fit: cover;

            &--is-mobile {
                display: none;
            }
        }

        @media all and ($viewport-type: $mobile) {
            &__media {
                margin-top: $measure * 7;

                &--is-mobile {
                    display: block;
                }

                &--is-desktop {
                    display: none;
                }
            }
        }

    }
}