.g--btn-01 {
    @include make-btn-01();
    @include make-btn-01-modifier(
        $background-options: (
            "background-color": map-get($color-options, c),
        ),
        $border-options: (
            "border-radius": $measure*4,
        ),
        $hover-options: (
            "border-radius": 0,
        ),
        $font-options: (
            "className": f--font-e,
            "color": map-get($color-options, b),
        ),
    );

    &--second{
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": map-get($color-options, b),
            ),
            $font-options: (
                "color": map-get($color-options, a),
            ),
        );
    }
    &--third{
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
            ),
            $hover-options: (
                "background-color": map-get($color-options, c),
            ),
            $font-options: (
                "color": map-get($color-options, b),
            ),
        );

    }

    &--fourth{
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": transparent,
            ),
            $hover-options: (
                "background-color": map-get($color-options, a),
            ),
            $font-options: (
                "color": map-get($color-options, b),
            ),
        );

    }

    &--fifth {
        @include make-btn-01-modifier(
            $background-options: (
                "background-color": map-get($color-options, b),
            ),
            $font-options: (
                "className": f--font-b,
                "color": map-get($color-options, a),
            ),
            $custom-options: (
                "parent": (
                    "text-transform": capitalize,
                ),
            ),
        );
        &.f--font-b {
            @include make-font-b();
        }
    }
}