.g--btn-01 {
    @include make-btn-01();
    @include make-btn-01-modifier(
        $background-options: (
            "background-class": f--background-c,
        ),
        $border-options: (
            "border-radius": $measure*4,
        ),
        $hover-options: (
            "border-radius": 0,
        ),
        $font-options: (
            "className": f--font-e f--color-b,
        ),
    );
    &--second{
        background: map-get($color-options, b);
        color: map-get($color-options, a);

    }
    &--third{
        background: transparent;
        color: map-get($color-options, b);
        &:hover{

            background: map-get($color-options, c);
        }

    }
}