.g--card-23 {
    @include make-card-23();
    @include make-card-23-modifier(
        $card-options: (
            "align": left,
        ),
        $background-options: (
            "background-class": f--background-b,
        ),
        $item-primary-options: (
            "className": f--font-g f--color-a,
        ),
        $item-secondary-options: (
            "className": f--font-d f--color-a,
        ),
        $list-group-item-options: (
            "className": g--btn-03,
        ),
        $media-options: (
            "background-color": #0A0A0A,
            "aspect-ratio": 1 1,
            "object-fit": cover,
            "object-position": center,
            "first": yes,
            "max-height": 253px,
        ),
        $custom-options: (
            ".g--card-23__media-wrapper": (
                padding-top: 253px,
            ),
            ".g--card-23__media-wrapper__media": (
                padding: $measure*2 $measure*2 0 $measure*2,
            ),
            ".g--card-23__wrapper__list-group__item":(
                padding: 0.2rem 0.5rem,
            )
        ),
    );

    .g--card-23__wrapper__list-group__item {
        width: fit-content !important;
    }
}