.g--card-08 {
    @include make-card-08();
    @include make-card-08-modifier(
        $card-options: (
            "align": center,
        ),
        $item-primary-options: (
            "className": f--font-a f--color-b,
        ),
        $list-group-item-options: (
            "className": f--font-d f--color-b,
        ),
        $custom-options: (
            "parent": (
                padding:$measure*7 $measure*5,
            ),
        )
    );
}