.g--card-04 {
    @include make-card-04();
    @include make-card-04-modifier(
        $card-options: (
            "align": left,
        ),
        $item-primary-options: (
            "font-weight": 600,
            "className": f--font-d,
        ),
        $list-group-item-options: (
            "className": f--font-f,
        ),
        $media-options: (
            "aspect-ratio": 1 1,
            "object-fit": cover,
            "height": 48px,
            "object-position": center,
            "width": 48px,
            "first": yes,
        ),
        $custom-options: (
            "parent": (
                padding: 0,
            ),
            ".g--card-04__item-primary":(
                text-transform: uppercase,
            ),
        )
    );

    @media all and ($viewport-type: $tablets) {
        @include make-card-04-modifier(
            $custom-options: (
                ".g--card-04__media-wrapper":(
                    margin-bottom: $measure * 2,
                ),
            )
        );
    }
}