.g--card-04 {
    @include make-card-04();
    @include make-card-04-modifier(
        $card-options: (
            "align": left,
        ),
        $item-primary-options: (
            "font-weight": 400,
            "className": f--font-d,
        ),
        $list-group-item-options: (
            "className": f--font-f,
        ),
        $media-options: (
            "aspect-ratio": 1 1,
            "object-fit": cover,
            "height": 48px,
            "object-position": center,
            "width": 48px,
            "first": yes,
        ),
    );
    @include make-custom-options(
        $options: (
            ".g--card-04__item-primary":(
                text-transform: uppercase,
                font-weight:600,
            ),
        )
  
    );
}