.c--slider-c {
    overflow: hidden;

    &__wrapper {
        display: flex;
    }
    &__ft {
        &__wrapper {
            display: flex;
            justify-content: flex-end;
            gap: $measure * 3;
            margin-top: $measure * 5;
            &__btn {
                padding: $measure;
                transition: all 0.25s linear;
                &:disabled {
                    opacity: 0.3;
                    pointer-events: none;
                }

                &:hover {
                    background-color: map-get($color-options, c);
                }
                @media all and ($viewport-type: $tabletl) {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
