.c--slider-b{
    overflow: hidden;
    &__wrapper{
        display: flex;
        &__item{
            min-height: 380px;
        }
    }
    &__ft{
        &__wrapper{
            display: flex;
            justify-content: flex-end;
            gap: $measure*3;
            margin-top: $measure*5;
            &__btn{
                transition: opacity .3s linear;
                &:disabled{
                    opacity:.3;
                    pointer-events: none;
                }
            }
        }
    }
}