.c--slider-b{
    &__wrapper{
        &__item{
            height: 380px;
        }
    }
    &__ft{
        &__wrapper{
            display: flex;
            justify-content: flex-end;
            gap: $measure*3;
            margin-top: $measure*5;
        }
    }
}