.g--layout-02 {
    @include make-layout-02();
    @include make-layout-02-modifier(
        $layout-options: (
            "align": center,
        ),
        
        $item-primary-options: (
            "font-weight": 600,
            "className": f--font-e,
        ),
        $item-secondary-options: (
            "className": f--font-c,
        ),
        $list-group-item-options: (
            "className": g--btn-01,
        ),
        $list-group-item-hover-options: (
            "border-radius": 0,
        ),
        
    );
}