.g--layout-02 {
    @include make-layout-02();
    @include make-layout-02-modifier(
        $layout-options: (
            "align": center,
        ),
        
        $item-primary-options: (
            "font-weight": 600,
            "className": f--font-a,
        ),
        $item-secondary-options: (
            "className": f--font-d,
        ),
        
    );
}