.c--stats-a {
    &__item {
        border-right: 1px solid $color-b;

        @media all and ($viewport-type: $tablets) {
            border-right: none;
            border-bottom: 1px solid $color-b;
        }

        &--second {
            border: none;
            @media all and ($viewport-type: $tablets) {
                border-bottom: 1px solid $color-b;
            }
        }

        &--third {
            border-right: none;
            border-left: 1px solid $color-b;

            @media all and ($viewport-type: $tabletl) {
                border-left: none;
                border-bottom: none;
            }
        }
    }
}