.c--stats-a {
    &__item {

        &--second {
            border-left: 1px solid $color-b;
            border-right: 1px solid $color-b;

            @media all and ($viewport-type: $tabletl) {
                border-right: none;
            }
            @media all and ($viewport-type: $tablets) {

                border-left: none;
                border-top: 1px solid $color-b;
                border-bottom: 1px solid $color-b;
            }
        }

    }
}