.c--wrapper-a{
    @extend .u--display-flex;
    gap:$measure*2;
    flex-wrap: wrap;
    justify-content: flex-start;
    > * {
        flex: 0 1 calc((100% / 4) - #{$measure * 2});
        @media all and ($viewport-type: $tabletl) {
            flex: 0 1 calc((100% / 3) - #{$measure * 2});        }

        @media all and ($viewport-type: $tablets) {
            flex: 0 1 calc((100% / 2) - #{$measure * 2});
        }
        @media all and ($viewport-type: $mobile) {
            flex: 0 1 calc(100% - #{$measure * 2});
        }
    }
}