.g--link-01 {
    @include make-link-01();
    @include make-link-01-modifier(
        $font-options: (
            "color": map-get($color-options, a),
        ),
        $hover-options: (
            "color": map-get($color-options, c),
        ),
        $custom-options: (
            "parent": (
                "text-transform": uppercase,
            )
        )
    );

    &--second {
        @include make-link-01-modifier(
            $font-options: (
                "color": map-get($color-options, b),
                "text-decoration": underline,
                "text-decoration-color": map-get($color-options, b),
            ),
            $hover-options: (
                "color": map-get($color-options, b),
                "text-decoration-color": transparent,
            ),
            $custom-options: (
                "parent": (
                    "text-transform": none,
                )
            )
        );
    }
}