.c--header-a {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding: $measure*3 0;

    transition: all .3s linear;

    &__wrapper {

        @extend .u--display-flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    &--is-scroll{
        background: map-get($color-options, a);
    }
    &--is-active{
        background: map-get($color-options, c);
    }
}