.c--nav-a{
    @extend .u--display-flex;
    &__list-group{

        
        @media all and ($viewport-type: $tabletm) {
            background: map-get($color-options, c);
            position: fixed;
            top: 4rem;
            left: 0;
            right: 0;
            height: 100%;
            flex-direction: column;
            &--is-active{
            }
        }
        display: inherit;
        flex-direction: row;
        gap:$measure*2;
        &__item{
            &__link{
                @extend .f--font-e;
                @extend .f--color-b;
                text-decoration: none;
            }
        }

    }
}